<div class="vehicles-header">
  <h3 class="heading-3">
    Moje pojazdy
  </h3>

  <button mat-mini-fab class="add-vehicle-btn" color="primary" (click)="openAddVehicleModal()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<perfect-scrollbar>
  <ul class="vehicles-list">
    <li
      class="vehicle box-default"
      [class.active]="(selectedVehicleId$ | async) === vehicle.id"
      *ngFor="let vehicle of (me$ | async)?.vehicles" (click)="selectVehicle(vehicle.id)">
      <img class="vehicle-logo" src="https://www.google.pl/url?sa=i&url=https%3A%2F%2Fwww.pinterest.se%2Fpin%2F441423200957664793%2F&psig=AOvVaw2izLL_YkUiblYrWjoQ-gxi&ust=1582661498830000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOCAwNb_6ucCFQAAAAAdAAAAABAJ" alt="BMW KRUL">

      <div class="vehicle-details">
        <h5 class="heading-5 vehicle-title">
          {{ vehicle.name }}
        </h5>

        <span class="vehicle-desc">
          {{ vehicle.brand }} {{ vehicle.vehicleModel }}
        </span>
      </div>
    </li>
  </ul>
</perfect-scrollbar>
