@import "styles/variables";
@import "styles/colors";

.vehicles-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-vehicle-btn {
  color: $white;
}

.vehicles-list {
  list-style: none;
  padding: 0 0 5px;
  margin: 0;
  max-height: 280px;
}

.vehicle {
  display: flex;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  justify-content: space-between;

  &.active {
    background-color: $primary-light;
    color: $white;
  }
}

.vehicle-data {
  display: flex;
}

.vehicle-desc {
  font-size: 14px;
}

.vehicle-logo {
  width: 80px;
  flex-shrink: 0;
  margin-right: 20px;
}

.default-label {
  align-self: flex-end;
  padding: 5px;
  border-radius: $general-border-radius;
  background-color: $gray;
  font-size: 12px;
  transition-duration: 200ms;

  &.is-default,
  &:hover {
    background-color: $success;
    color: $white;
  }
}
