<div class="vehicles-header">
  <h3 class="heading-3">
    Moje pojazdy
  </h3>

  <button mat-mini-fab class="add-vehicle-btn" color="primary" (click)="openAddVehicleModal()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<perfect-scrollbar *ngIf="(me$ | async)?.vehicles.length !== 0; else noVehicles">
  <ul class="vehicles-list">
    <li
      class="vehicle box-default"
      [class.active]="(selectedVehicleId$ | async) === vehicle.id"
      *ngFor="let vehicle of (me$ | async)?.vehicles" (click)="selectVehicle(vehicle.id)">
      <div class="vehicle-data">
        <img class="vehicle-logo" [src]="(brandsLogosService.getBrandLogoPath(vehicle.brand) | async) | brandLogoPath" [alt]="vehicle.brand">

        <div class="vehicle-details">
          <h5 class="heading-5 vehicle-title">
            {{ vehicle.name }}
          </h5>

          <span class="vehicle-desc">
            {{ vehicle.brand }} {{ vehicle.vehicleModel }}
          </span>
        </div>
      </div>

      <span class="default-label" [class.is-default]="vehicle.default" (click)="setDefaultVehicle(vehicle)">
        DOMYŚLNY
      </span>
    </li>
  </ul>
</perfect-scrollbar>

<ng-template #noVehicles>
  Nie masz jeszcze żadnego pojazdu.
</ng-template>
