<h3 class="heading-3">
  Wydarzenia wg przebiegu
</h3>

<ul class="events-list">
  <li class="event">
    <img class="event-logo" src="https://www.google.pl/url?sa=i&url=https%3A%2F%2Fwww.pinterest.se%2Fpin%2F441423200957664793%2F&psig=AOvVaw2izLL_YkUiblYrWjoQ-gxi&ust=1582661498830000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOCAwNb_6ucCFQAAAAAdAAAAABAJ" alt="BMW KRUL">

    <div class="event-details">
      <h5 class="heading-5 event-title">
        Prywotny nojlepszy - wymiana oleju
      </h5>

      <span class="event-desc">
        <span class="event-data"><strong>Przebieg:</strong> 72882km</span>

        <span class="event-data"><strong>Data:</strong> 24.01.2020r.</span>
      </span>
    </div>
  </li>

  <li class="event">
    <img class="event-logo" src="https://www.google.pl/url?sa=i&url=https%3A%2F%2Fwww.pinterest.se%2Fpin%2F441423200957664793%2F&psig=AOvVaw2izLL_YkUiblYrWjoQ-gxi&ust=1582661498830000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOCAwNb_6ucCFQAAAAAdAAAAABAJ" alt="BMW KRUL">

    <div class="event-details">
      <h5 class="heading-5 event-title">
        Prywotny nojlepszy - wymiana oleju
      </h5>

      <span class="event-desc">
        <span class="event-data"><strong>Przebieg:</strong> 72882km</span>

        <span class="event-data"><strong>Data:</strong> 24.01.2020r.</span>
      </span>
    </div>
  </li>

  <li class="event">
    <img class="event-logo" src="https://www.google.pl/url?sa=i&url=https%3A%2F%2Fwww.pinterest.se%2Fpin%2F441423200957664793%2F&psig=AOvVaw2izLL_YkUiblYrWjoQ-gxi&ust=1582661498830000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOCAwNb_6ucCFQAAAAAdAAAAABAJ" alt="BMW KRUL">

    <div class="event-details">
      <h5 class="heading-5 event-title">
        Prywotny nojlepszy - wymiana oleju
      </h5>

      <span class="event-desc">
        <span class="event-data"><strong>Przebieg:</strong> 72882km</span>

        <span class="event-data"><strong>Data:</strong> 24.01.2020r.</span>
      </span>
    </div>
  </li>
</ul>

<div class="divider">
  <span class="text">
    W przyszłości
  </span>
</div>

<ul class="events-list">
  <li class="event">
    <img class="event-logo" src="https://www.google.pl/url?sa=i&url=https%3A%2F%2Fwww.pinterest.se%2Fpin%2F441423200957664793%2F&psig=AOvVaw2izLL_YkUiblYrWjoQ-gxi&ust=1582661498830000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOCAwNb_6ucCFQAAAAAdAAAAABAJ" alt="BMW KRUL">

    <div class="event-details">
      <h5 class="heading-5 event-title">
        Prywotny nojlepszy - wymiana oleju
      </h5>

      <span class="event-desc">
        <span class="event-data"><strong>Przebieg:</strong> 72882km</span>

        <span class="event-data"><strong>Data:</strong> 24.01.2020r.</span>
      </span>
    </div>
  </li>

  <li class="event">
    <img class="event-logo" src="https://www.google.pl/url?sa=i&url=https%3A%2F%2Fwww.pinterest.se%2Fpin%2F441423200957664793%2F&psig=AOvVaw2izLL_YkUiblYrWjoQ-gxi&ust=1582661498830000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOCAwNb_6ucCFQAAAAAdAAAAABAJ" alt="BMW KRUL">

    <div class="event-details">
      <h5 class="heading-5 event-title">
        Prywotny nojlepszy - wymiana oleju
      </h5>

      <span class="event-desc">
        <span class="event-data"><strong>Przebieg:</strong> 72882km</span>

        <span class="event-data"><strong>Data:</strong> 24.01.2020r.</span>
      </span>
    </div>
  </li>
</ul>
