@import "fonts";
@import "colors";
@import "variables";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-lato;
  font-size: 16px;
  color: $font-primary;
  background-color: $gray-light;
}

* {
  box-sizing: border-box;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.mat-select-value {
  color: currentColor;
}

.cdk-overlay-pane {
  @media (max-width: $screen-M) {
    max-width: 90vw !important;
  }
}

.vehicle-modal {
  @media (max-width: $screen-S) {
    .mat-horizontal-content-container {
      padding: 0 0 24px;
    }

    .mat-horizontal-stepper-header-container {
      margin-left: -24px;
    }
  }
}

.box-default {
  box-shadow: $general-shadow;
  border-radius: $general-border-radius;
  background-color: $white;
}
