$font-primary: #707070;

$white: #ffffff;
$gray-light: #fafafa;
$gray: #e6e6e6;

$primary: #01579b;
$primary-light: #5b82c7;
$primary-dark: #0f2e68;

$secondary: #424242;
$secondary-light: #6d6d6d;
$secondary-dark: #1b1b1b;

$green-success: #28db6d;
$orange-warning: #ffbe2c;
$red-error: #e23e3e;

$red-google: #db4437;
