.header-1 {
  font-size: 36px;
}

.header-2 {
  font-size: 32px;
}

.header-3 {
  font-size: 26px;
}

.header-4 {
  font-size: 22px;
}

.header-5 {
  font-size: 18px;
}

.header-6 {
  font-size: 14px;
}

.header-1,
.header-2,
.header-3,
.header-4,
.header-5,
.header-6 {
  margin: 0;
  font-weight: 600;
}
