.heading-1 {
  font-size: 36px;
}

.heading-2 {
  font-size: 32px;
}

.heading-3 {
  font-size: 26px;
}

.heading-4 {
  font-size: 22px;
}

.heading-5 {
  font-size: 18px;
}

.heading-6 {
  font-size: 14px;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  margin: 0;
  font-weight: 600;
}
