@import "styles/variables";

.row {
  display: flex;

  @media (max-width: $screen-L) {
    flex-direction: column;
  }

  &:not(:last-child) {
    margin-bottom: 50px;

    @media (max-width: $screen-L) {
      margin: 0;
    }
  }
}

.vehicles-list,
.events-list {
  width: 40%;
  margin-right: 50px;

  @media (max-width: $screen-L) {
    width: 100%;
    margin: 0;
  }
}

.vehicle-details,
.calendar {
  width: 60%;

  @media (max-width: $screen-L) {
    width: 100%;
  }
}

.vehicle-details {
  @media (max-width: $screen-L) {
    order: -1;
    margin-bottom: 25px;
  }
}

.list {
  display: block;
  margin-bottom: 25px;
}

.calendar {
  display: block;

  @media (max-width: $screen-M) {
    display: none;
  }
}
