.has-sidebar {
  display: block;
  padding: 50px 20px 50px 76px;

  @media (max-width: 1200px) {
    padding: 25px 20px 25px 76px;
  }

  @media (max-width: 480px) {
    padding: 80px 20px 20px;
  }
}
