<form [formGroup]="formGroup" class="form">
  <mat-form-field class="field" appearance="outline">
    <mat-label>Nazwa</mat-label>

    <input
      matInput
      type="text"
      placeholder="Wprowadź nazwę"
      formControlName="name"
      required>

    <mat-error class="error" *ngIf="getFormControl('name').hasError('required')">
      Nazwa jest wymagana
    </mat-error>
  </mat-form-field>

  <mat-form-field class="field" appearance="outline">
    <mat-label>Marka</mat-label>

    <mat-select placeholder="Wybierz markę" formControlName="brand" required>
      <mat-option value="BMW">BMW</mat-option>
      <mat-option value="Hujdaj">Hujdaj</mat-option>
      <mat-option value="Maździnka">Maździnka</mat-option>
    </mat-select>

    <mat-error class="error" *ngIf="getFormControl('brand').hasError('required')">
      Marka jest wymagana
    </mat-error>
  </mat-form-field>

  <mat-form-field class="field" appearance="outline">
    <mat-label>Model</mat-label>

    <mat-select placeholder="Wybierz model" formControlName="model" required>
      <mat-option value="Seria 3">Seria 3</mat-option>
      <mat-option value="Seria 5">Seria 5</mat-option>
      <mat-option value="Seria 7">Seria 7</mat-option>
    </mat-select>

    <mat-error class="error" *ngIf="getFormControl('model').hasError('required')">
      Model jest wymagany
    </mat-error>
  </mat-form-field>

  <mat-form-field class="field" appearance="outline">
    <mat-label>Numer VIN</mat-label>

    <input
      matInput
      type="text"
      placeholder="Wprowadź numer VIN"
      formControlName="vin"
      required>

    <mat-error class="error" *ngIf="getFormControl('vin').hasError('required')">
      Nazwa jest wymagana
    </mat-error>
  </mat-form-field>

  <mat-form-field class="field" appearance="outline">
    <mat-label>Typ</mat-label>

    <mat-select placeholder="Wybierz typ" formControlName="type" required>
      <mat-option value="Seria 3">Sedan</mat-option>
      <mat-option value="Seria 5">Coupe</mat-option>
      <mat-option value="Seria 7">Kombi</mat-option>
    </mat-select>

    <mat-error class="error" *ngIf="getFormControl('type').hasError('required')">
      Typ jest wymagany
    </mat-error>
  </mat-form-field>

  <mat-form-field class="field" appearance="outline">
    <mat-label>Rok produkcji</mat-label>

    <input
      matInput
      type="text"
      placeholder="Wprowadź rok produkcji"
      formControlName="productionYear"
      required>

    <mat-error class="error" *ngIf="getFormControl('productionYear').hasError('required')">
      Rok produkcji jest wymagany
    </mat-error>
  </mat-form-field>

  <mat-form-field class="field" appearance="outline">
    <mat-label>Aktualny przebieg</mat-label>

    <input
      matInput
      type="text"
      placeholder="Wprowadź aktualny przebieg"
      formControlName="mileage"
      required>

    <mat-error class="error" *ngIf="getFormControl('mileage').hasError('required')">
      Przebieg jest wymagany
    </mat-error>
  </mat-form-field>
</form>

<div mat-dialog-actions class="actions">
  <button mat-raised-button color="primary" matStepperNext>
    Dalej
  </button>
</div>
