<h2 class="heading-2">Utwórz konto</h2>

<div *ngIf="!(registeredSuccessfully$ | async)">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="field">
      <mat-label>E-mail</mat-label>

      <input
        matInput
        type="email"
        placeholder="Wprowadź adres e-mail"
        formControlName="email"
        required
        autocomplete="email"
        data-cy="email-field">

      <mat-error class="error" *ngIf="getFormControl('email').hasError('required')">
        E-mail jest wymagany
      </mat-error>

      <mat-error class="error" *ngIf="getFormControl('email').hasError('email')">
        Niepoprawny e-mail
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field field-alt" >
      <mat-label>Hasło</mat-label>

      <input
        matInput
        [type]="hideFirstPassword ? 'password' : 'text'"
        placeholder="Wprowadź hasło"
        formControlName="password"
        required
        autocomplete="current-password"
        data-cy="password-field"
        #password>

      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hideFirstPassword = !hideFirstPassword">
        <mat-icon>{{hideFirstPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

      <mat-error class="error" *ngIf="getFormControl('password').hasError('required')">
        Hasło jest wymagane
      </mat-error>

      <mat-error *ngIf="getFormControl('password').hasError('pattern')">
        Hasło musi składać się z przynajmniej jednej małej litery, jednej wielkiej litery i cyfry oraz mieć długość 6-24 znaki
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label>Potwierdź hasło</mat-label>

      <input
        matInput
        [type]="hideSecondPassword ? 'password' : 'text'"
        placeholder="Potwierdź hasło"
        formControlName="confirmPassword"
        [pattern]="password.value"
        required
        autocomplete="new-password">

      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hideSecondPassword = !hideSecondPassword">
        <mat-icon>{{hideSecondPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

      <mat-error *ngIf="getFormControl('confirmPassword').hasError('required')">
        Potwierdzenie hasła jest wymagane
      </mat-error>

      <mat-error *ngIf="getFormControl('confirmPassword').hasError('pattern')">
        Hasła nie są takie same
      </mat-error>
    </mat-form-field>

    <button class="btn" mat-raised-button color="primary" data-cy="login-btn" [disabled]="(isLoading$ | async) || form.invalid">
      <span *ngIf="!(isLoading$ | async)">Utwórz konto</span>

      <wcw-loader class="loader" color="accent" size="24" *ngIf="isLoading$ | async"></wcw-loader>
    </button>

    <mat-error *ngIf="(registerError$ | async) as error" class="error-message">
      {{ error }}
    </mat-error>
  </form>

  <span class="divider">Lub</span>

  <div class="social-buttons">
    <button class="btn social-btn" mat-raised-button color="primary" (click)="loginViaFacebook()">
      <mat-icon svgIcon="fb" class="social-icon"></mat-icon> Zaloguj się przez Facebooka
    </button>

    <button class="btn social-btn btn-google" mat-raised-button (click)="loginViaGoogle()">
      <mat-icon svgIcon="google" class="social-icon"></mat-icon> Zaloguj się przez Google
    </button>
  </div>

  <span class="redirect-link">Posiadasz już konto? <a routerLink="/auth/login">Zaloguj się</a></span>
</div>

<wcw-auth-success *ngIf="registeredSuccessfully$| async">
  <span class="success-info">Konto utworzone.</span>
  <span class="success-info">Aktywuj je za pomocą linku wysłanego na maila.</span>

  <a class="redirect-link" routerLink="/auth/login">Powrót do logowania</a>
</wcw-auth-success>
