<div *ngIf="(vehicle$ | async) as vehicle">
  <h3 class="heading-3 vehicle-name">
    {{ vehicle.name }}
  </h3>

  <div class="vehicle box-default">
    <div class="vehicle-details">
      <img class="vehicle-img" src="https://www.google.pl/url?sa=i&url=https%3A%2F%2Fm.autocentrum.pl%2Fbmw%2Fseria-3%2Ff30-f31-f34%2Flimuzyna%2F&psig=AOvVaw0-XckS387QkBkpaCyk4tBz&ust=1582830296585000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPC0rsX07-cCFQAAAAAdAAAAABAD" alt="KRUL TO BMW">

      <div class="vehicle-data">
        <div class="data-column">
          <div class="data-row">
            <strong>Marka: </strong> {{ vehicle.brand }}
          </div>

          <div class="data-row">
            <strong>Model: </strong> {{ vehicle.vehicleModel }}
          </div>

          <div class="data-row">
            <strong>Generacja: </strong> F30
          </div>

          <div class="data-row">
            <strong>Rok produkcji: </strong> {{ vehicle.yearOfProduction }}
          </div>

          <div class="data-row">
            <strong>Przebieg: </strong> {{ vehicle.mileage }} km
          </div>
        </div>

        <div class="data-column">
          <div class="data-row">
            <strong>Silnik: </strong> {{ vehicle.engineCapacity }} cm3
          </div>

          <div class="data-row">
            <strong>Moc: </strong> {{ vehicle.enginePower }} KM
          </div>

          <div class="data-row">
            <strong>Ostatnia awaria: </strong> 09.09.2019r.
          </div>

          <div class="data-row highlight-yellow">
            <strong>OC/AC: </strong> 05.05.2021r. <mat-icon inline>warning</mat-icon>
          </div>

          <div class="data-row highlight-red">
            <strong>Przegląd: </strong> 03.03.2020r. <mat-icon inline>warning</mat-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="vehicle-actions">
      <button mat-raised-button class="action-btn" color="primary" (click)="editVehicle(vehicle)">
        Edytuj
      </button>

      <button mat-stroked-button class="action-btn" color="primary" (click)="initVehicleTransfer(vehicle)">
        Transferuj
      </button>

      <button mat-raised-button class="action-btn" color="warn" (click)="deleteVehicle(vehicle)">
        Usuń
      </button>
    </div>
  </div>
</div>

<wcw-loader size="72" *ngIf="isLoading"></wcw-loader>
