@import "styles/variables";
@import "styles/colors";

.vehicle-name {
  height: 40px;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
}

.vehicle {
  padding: 20px;
}

.vehicle-details {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.vehicle-img {
  margin-right: 20px;
  max-width: 300px;
  max-height: 200px;

  @media (max-width: 768px) {
    margin: 0;
  }
}

.vehicle-data {
  display: flex;
  padding: 30px 0;

  @media (max-width: 768px) {
    padding: 20px 0;
  }

  @media (max-width: 580px) {
    flex-direction: column;
  }
}

.data-column {
  &:not(:last-child) {
    margin-right: 20px;

    @media (max-width: 580px) {
      margin: 0 0 5px;
    }
  }
}

.data-row {
  &:not(:last-child) {
    margin-bottom: 5px;
  }

  mat-icon {
    vertical-align: top;
  }
}

.vehicle-actions {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid $gray;
  margin-top: 20px;
  padding-top: 20px;

  @media (max-width: 768px) {
    margin: 0;
  }
}

.action-btn {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.highlight-yellow {
  color: $warning;
}

.highlight-red {
  color: $error;
}
