@import "styles/colors";

:host {
  text-align: center;
}

.head-2 {
  margin-bottom: 50px;
}

.field {
  display: block;
  width: 100%
}

.mat-form-field-invalid {
  margin-bottom: 10px;
}

.field-alt.mat-form-field-invalid {
  margin-bottom: 20px;
}

.btn {
  width: 100%;
}

.social-btn {
  position: relative;
  padding-left: 40px;
}

.social-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.btn-google {
  background-color: $red-google;
  color: $white;
}

.or-dividier {
  display: block;
  margin: 25px 0;
  text-transform: uppercase;
}

.social-buttons {
  margin-bottom: 70px;

  .btn:not(:last-child) {
    margin-bottom: 20px;
  }
}

.redirect-link {
  display: block;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
