<div class="wrapper">
  <div class="background-wrapper">
<!--    <img src="../../../assets/images/auth-background.jpg" alt="BMWKRUL" class="background-image">-->
  </div>

  <div class="form-wrapper">
    <router-outlet></router-outlet>
  </div>

  <div class="header-wrapper">
    <h1 class="header-title">WheelsCare</h1>

    <h4 class="head-4">Twój samochód pod kontrolą</h4>
  </div>
</div>

<!--<button (click)="loginWithGoogle()">-->
<!--  Login with Google-->
<!--</button>-->

<!--<button (click)="loginWithFacebook()">-->
<!--  Login with Facebook-->
<!--</button>-->
