@import "styles/colors";

:host {
  text-align: center;
}

.head-2 {
  margin-bottom: 50px;
}

.btn {
  width: 100%;
}

.redirect-link {
  display: block;

  margin-top: 60px;
}

.loader {
  margin-left: 5px;
}

.error-message {
  margin-top: 10px;
}
