@import "styles/colors";

:host {
  text-align: center;
}

.head-2 {
  margin-bottom: 50px;
}

.btn {
  width: 100%;
}

.redirect-link {
  display: block;

  margin-top: 60px;
}

.loader {
  margin-left: 5px;
}

.error-message {
  margin-top: 10px;
}

.success-wrapper {
  color: $green-success;
  text-align: center;
  margin-top: -30px;

  .redirect-link {
    margin-top: 60px;
  }
}

.success-icon {
  width: 72px;
  height: 72px;
  font-size: 72px;
}

.success-info {
  display: block;
}
