.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.row {
  display: flex;

  .field {
    width: calc(33.33% - 20px);

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
